########################################
# Build
########################################
bin/
obj/
out/

########################################
# User-specific files
########################################
*.user
*.suo
*.userprefs
*.vs/
.vscode/

########################################
# Logs
########################################
*.log

########################################
# OS files
########################################
.DS_Store
Thumbs.db

########################################
# Secrets
########################################
appsettings.Development.json
appsettings.Production.json
secrets.json

########################################
# Publish
########################################
publish/
wwwroot/lib/

########################################
# Rider / VS Code
########################################
.idea/